{{define "content"}}
{{template "navigation" .}}

<main class="main-content user-content">
    <h1 class="page-title user-title">{{t .Lang "site.welcome"}}, {{.UserName}}!</h1>
    
    <div class="user-grid two-column">
        {{template "signed_up_classes_container" .}}
        {{template "todays_classes_container" .}}
        {{template "dashboard_membership_container" .}}
        {{template "dashboard_klippekort_container" .}}
    </div>
</main>

{{template "shared_styles"}}
{{template "dashboard_scripts" .}}
{{template "membership_actions_script"}}
{{template "klippekort_actions_script"}}
{{end}}